<%- include ('./partials/profileHeader') %>
<%- include ('./partials/messages') %>







            <div class="h-screen px-4 pb-24 overflow-auto md:px-6">
                
                
                <h2 class="text-gray-400 text-md">
               Welcome  <%= currentUser.fullname %>, here&#x27;s what&#x27;s happening with your account today.
                </h2>
                <% if(currentUser.hasInvested == true){ %>
                <form action="/machineReturn" method="post">  
                <div class="max-w-sm rounded my-4 overflow-hidden shadow-lg">
                    <div class="font-bold text-xl mb-2 ">
                        <p class="text-brightYellow text-2xl">
                         <span class="text-black">₦</span>    <%= currentUser.dailyPay %>                        
                         <span class="inline-block bg-green-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">ongoing</span>

                             
                        </p>
                         

                        <div>
                           <span  class="text-gray-500">Current Times : </span> <span class="text-gray-500"> <%= currentUser.timesOfRun %> </span> 
                        </div>

                        <div class="text-gray-500">
                            Rebate time: <%= currentUser.dailyMatureDate.toLocaleString() %> 
                        </div>
                    
                    </div>
                    <img src="<%= currentUser.machineImage %>" alt="product3">                
                        <div class="px-6 py-4">
                      <div class="font-bold text-3xl mb-2"><%= currentUser.machineRunning %></div>
                    Total return :  <div class="font-bold text-xl mb-2"> <%= currentUser.machineReturn %>                       </div>

                      <p class="text-gray-700 text-base">
                        This machine currently run every 24 hours
                      </p>
                    </div>

                    <% if(currentUser.hasInvested == true && new Date() >= currentUser.dailyMatureDate) { %>

                    <div class="px-6 pt-4 pb-2 text-center">
                        <button        
                        class="bg-brightYellow text-black active:bg-darkYellow text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                        type="submit"
                        style="transition: all 0.15s ease 0s;"
                       >
                           Claim Daily Income
                       </button>
                      </p></span>
                    </div>
                    <% }else { %>
                                        
                        <% } %>
                  </div>
                </form>

                <%  } else { %>
                                        
                    <div class="flex items-center">
                   
                        <p class="ml-2 text-2xl font-semibold text-gray-700 border-b border-gray-200 dark:text-white">
                            No Active Machine Running
                        </p>
                       
                       
                    </div>
                    <div class="item-center text-center">
                        <a        href="/productAndService"
                              class="bg-brightYellow text-black active:bg-darkYellow text-sm font-bold px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                              type="button"
                              style="transition: all 0.15s ease 0s;"
                            >
                            Purchase Machine
                  </a>
                    </div>
                    
              <%  } %> 
                
                <div class="flex flex-row  w-full my-6 space-y-4 space-x-4 space-y-0 mt-4">
                    <div class="w-1/2 flex flex-row items-center justify-between mx-2">
                        <div class="relative w-full px-4 py-6 bg-brightYellow shadow-lg">
                            <p class="text-2xl font-bold text-black">
                                ₦ <%= currentUser.balance %> 
                            </p>
                            <p class="text-sm text-black">
                                Balance
                            </p>
                            
                        </div>
                    </div>
                    <div class="w-1/2 flex flex-row items-center justify-between mx-2">
                        <div class="relative w-full px-4 py-6 bg-brightYellow shadow-lg">
                            <p class="text-2xl font-bold text-black">
                                ₦ <%= currentUser.withdrawable %> 
                            </p>
                            <p class="text-sm text-black">
                                Withdraw
                            </p>
                            
                        </div>
                    </div>
                    
                </div>
                <div class="flex flex-row  w-full my-6 space-y-4 space-x-4 space-y-0 ">
                    <div class="w-1/2 flex flex-row items-center justify-between mx-2">
                        <div class="relative w-full px-4 py-6 bg-brightYellow shadow-lg">
                            <p class="text-2xl font-bold text-black">
                                ₦ <%= currentUser.todayIncome %> 
                            </p>
                            <p class="text-sm text-black">
                                Today's Income
                            </p>
                            
                        </div>
                    </div>
                    <div class="w-1/2 flex flex-row items-center justify-between mx-2">
                        <div class="relative w-full px-4 py-6 bg-brightYellow shadow-lg">
                            <p class="text-2xl font-bold text-black">
                                ₦ <%= currentUser.assets %> 
                            </p>
                            <p class="text-sm text-black">
                                Assets
                            </p>
                            
                        </div>
                    </div>
                    
                </div>

                <div class="flex flex-row  w-full my-6 space-y-4 space-x-4 space-y-0 ">
                    <div class="w-1/2 flex flex-row items-center justify-between mx-2">
                        <div class="relative w-full px-4 py-6 bg-brightYellow shadow-lg">
                            <p class="text-2xl font-bold text-black">
                                ₦ <%= currentUser.teamIncome %> 
                            </p>
                            <p class="text-sm text-black">
                                Team Income
                            </p>
                            
                        </div>
                    </div>
                    <div class="w-1/2 flex flex-row items-center justify-between mx-2">
                        <div class="relative w-full px-4 py-6 bg-brightYellow shadow-lg">
                            <p class="text-2xl font-bold text-black">
                                ₦ <%= currentUser.totalIncome %> 
                            </p>
                            <p class="text-sm text-black">
                                Total Income
                            </p>
                            
                        </div>
                    </div>
                    
                </div>
                <div class="">
                    <div class="flex flex-col self-end py-8 mt-10 space-y-1 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">

                        <div class="w-full my-1 bg-brightYellow h-auto">
                            <div class="flex flex-auto">
                                <img src="/img/currency.svg" class="w-5 h-5  mt-4 ml-6" alt="">
                            <a href="/recharge" class="text-xl mx-2 inline-block mr-4 py-2 whitespace-nowrap text-black font-serif">
                                Recharge
                            </a>
                            </div>
                        </div>


                        <div class="w-full my-1 bg-brightYellow h-auto">
                            <div class="flex flex-auto">
                                <img src="/img/bank.svg" class="w-5 h-5  mt-4 ml-6" alt="">
                            <a href="/withdraw" class="text-xl mx-2 inline-block mr-4 py-2 whitespace-nowrap text-black font-serif">
                                Withdraw
                            </a>
                            </div>
                        </div>

                        <div class="w-full my-1 bg-brightYellow h-auto">
                            <div class="flex flex-auto">
                                <img src="/img/shake.svg" class="w-5 h-5  mt-4 ml-6" alt="">
                            <a href="/referral" class="text-xl mx-2 inline-block mr-4 py-2 whitespace-nowrap text-black font-serif">
                                Team
                            </a>
                            </div>
                        </div>

                        
                        <div class="w-full my-1 bg-brightYellow h-auto">
                            <div class="flex flex-auto">
                                <img src="/img/transacton.svg" class="w-5 h-5  mt-4 ml-6" alt="">
                            <a href="/history" class="text-xl mx-2 inline-block mr-4 py-2 whitespace-nowrap text-black font-serif">
                                Transaction history
                            </a>
                            </div>
                        </div>
                        <div class="w-full my-1 bg-brightYellow h-auto">
                            <div class="flex flex-auto">
                                <img src="/img/password.svg" class="w-5 h-5  mt-4 ml-6" alt="">
                            <a href="/changePassword" class="text-xl mx-2 inline-block mr-4 py-2 whitespace-nowrap text-black font-serif">
                                Change Password
                            </a>
                            </div>
                        </div>
                        <div class="w-full my-1 bg-brightYellow h-auto">
                            <div class="flex flex-auto">
                                <img src="/img/customer.svg" class="w-5 h-5  mt-4 ml-6" alt="">
                            <a href="https://t.me/zim_energy " target="_blank" class="text-xl mx-2 inline-block mr-4 py-2 whitespace-nowrap text-black font-serif">
                                Customer services
                            </a>
                            </div>
                        </div>

                        <div class="w-full my-1 bg-brightYellow h-auto">
                            <div class="flex flex-auto">
                                <img src="/img/logout.svg" class="w-5 h-5  mt-4 ml-6" alt="">
                            <a href="/logout" class="text-xl mx-2 inline-block mr-4 py-2 whitespace-nowrap text-black font-serif">
                                Log out
                            </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
        
   
    </div>

    
        
</main>


  </body>
  <script>
    
  </script>
</html>
