<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/img/apple-icon.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"
    />
    <link
     rel="stylesheet" 
     href="stylesheets/style.css"
    />

    <!-- adsense -->
    <script
       async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6818767830537662"
        crossorigin="anonymous">
    </script>

<!-- adsense -->

    <title>Register | Zim - Energy</title>
  </head>
  <body class="text-black antialiased">
    <nav
      class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 "
    >
      <div
        class="container px-4 mx-auto flex flex-wrap items-center justify-between"
      >
        <div
          class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
        >
          
          
        </div>
        
      </div>
    </nav>
    <main>

      <section class="absolute w-full h-full">
        <div
          class="absolute top-0 w-full h-full bg-gray-300"
        ></div>
        <div class="container mx-auto px-4 h-full">
          <div class="flex content-center items-center justify-center h-full">
            <div class="w-full lg:w-4/12 px-4">
              <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-white border-0"
              >
                <div class="rounded-t mb-0 px-6 py-6">
                  <%- include ('./partials/messages') %>
                </div>
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                  <div class="text-black text-center mb-3 font-bold">
                    <small>Register Here</small>
                  </div>
                  <form action="/register" method="POST" >
                    <!-- partial messages -->
                                

                    <div class="relative w-full mb-3">
                     <input
                        data-validate = "Valid Full name is required"
                        type="fullname" 
						            name="fullname" 
                        
                        value="<%= typeof fullname != 'undefined' ? fullname : '' %>"
                        class="border-0 px-3 py-3 placeholder-black text-black bg-white rounded text-sm shadow focus:outline-brightYellow focus:ring w-full"
                        placeholder="Full name"
                        style="transition: all 0.15s ease 0s;"
                      />
                    </div>

                    <div class="relative w-full mb-3">
                      <input
                      type="username" 
                      name="username"                      
                      value="<%= typeof username != 'undefined' ? username : '' %>"
                         class="border-0 px-3 py-3 placeholder-black text-black bg-white rounded text-sm shadow focus:outline-brightYellow focus:ring w-full"
                         placeholder="Username"
                         style="transition: all 0.15s ease 0s;"
                       />
                     </div>

                    <div class="relative w-full mb-3">
                        <input
                        type="email" 
                        name="email"                      
                        value="<%= typeof email != 'undefined' ? email : '' %>"
                           class="border-0 px-3 py-3 placeholder-black text-black bg-white rounded text-sm shadow focus:outline-brightYellow focus:ring w-full"
                           placeholder="Email"
                           style="transition: all 0.15s ease 0s;"
                         />
                       </div>

                     <div class="relative w-full mb-3">
                     <input
                     type="tel" 
                        name="telephone"                      
                        value="<%= typeof telephone != 'undefined' ? telephone : '' %>"
                        class="border-0 px-3 py-3 placeholder-black text-black bg-white rounded text-sm shadow focus:outline-brightYellow focus:ring w-full"
                        placeholder="Mobile number"
                        style="transition: all 0.15s ease 0s;"
                      />
                    </div>

                    <div class="relative w-full mb-3">
                        <input
                        
                        id="referralCode"
                        type="text" 
                        name="referralCode"  
                        value="<%= typeof referralCode  != 'undefined' ? referralCode : '' %>"                    
                        
                        class="border-0 px-3 py-3 placeholder-black text-black bg-white rounded text-sm shadow focus:outline-brightYellow focus:ring w-full"
                           placeholder="Referral code (Optional)" 
                           style="transition: all 0.15s ease 0s;"
                         />
                       </div>

                    <div class="relative w-full mb-3">
                      <input
                      type="password"
                      name="password" 
                      placeholder="Password"
                      value="<%= typeof password != 'undefined' ? password : '' %>"                        class="border-0 px-3 py-3 placeholder-black text-black bg-white rounded text-sm shadow focus:outline-brightYellow focus:ring w-full"
                        placeholder="Password"
                        style="transition: all 0.15s ease 0s;"
                      />
                    </div>
                  
                    
                    <div class="text-center mt-6">
                      <button
                        class="bg-brightYellow text-black active:bg-brightYellow text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                        type="submit"
                      >
                        Register
                      </button>
                    </div>
                  </form>

                  <div>
                    <label class="cursor-pointer items-left"
                      ><p  class="ml-2 text-sm font-semibold text-black"
                        >Already have an account?</p
                      ></label
                    >
                  </div>
                  <div class="text-center mt-6">
                    <a
                      href="/login"
                      class="bg-brightYellow text-black text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                      type="button"
                    >
                      Log in
                  </a>
                  </div>
                </div>
              </div>

              
            </div>
          </div>
        </div>
        <footer class="w-full bottom-0 bg-gray-300 pb-6">
          <div class="container mx-auto px-4">
            <hr class="pt-3 mb-6 border-b-1 border-black" />
            <div
              class="flex flex-wrap items-center md:justify-between justify-center"
            >
              <div class="w-full md:w-4/12 px-4">
                <div class="text-sm text-black font-semibold py-1">
                    Copyright &copy;<script data-cfasync="false" ></script><script>document.write(new Date().getFullYear());</script> All rights reserved 
                 
                </div>
              </div>
             
            </div>
          </div>
        </footer>
      </section>
    </main>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const urlParams = new URLSearchParams(window.location.search);
      const referralCode = urlParams.get('referralCode');
  
      if (referralCode) {
        document.getElementById('referralCode').value = referralCode;
      }
    });
  </script>
</html>
